<%- include('layouts/head.ejs') %> 

</head>

<body>
    <%- include('layouts/navbar.ejs') %> 
    <h1>Some Error Occured</h1>
    <h4>We are working to fix the issue. Sorry for your Inconvinience</h4>

<% -include('layouts/end.ejs') %>